<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block name %}
        <title>Ecoleta</title>
    {% endblock name %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">

    {% block styles %}{% endblock styles %}

    <link rel="stylesheet" href="styles/responsive.css">
    
</head>
<body>

    {#A div abaixo era o id="page-home", mas adicionamos uma variavel de mesmo nome através do nunjucks#}
    <div id="{{ bodyId }}">
        {% block content %}
        {% endblock content %}
    </div>

    {% block modal %}
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>