<!--Page Estilo Modal da pagina OK, cadastrado-->
<div id="modal" class="point">
    <div class="content"><!--Div conteúdo-->
        <img src="/assets/check.svg" alt="Cadastrado com sucesso">
        <h1>Cadastro Concluído</h1>
    </div>
</div>


<script>// Adicionado um temporizador para aparecer o modal

//setTimeout = é uma função que vai rodar depois de um certo tempo
//Irá rodar: 1º Elemento: Uma funcionalidade, 2ª Elemento: depois de quanto tempo irá rodar? (depois de 2000 milesegundos)
//A funcionalidade que irá executar (window.location = "/"), irá fazer a localização da janela ser a barra


setTimeout(() => {
    window.location = "/"

}, 2000)

</script>