
:root { /* : siginifica acessar a raiz do documento*//*Propriedades repetidas, vamos colocar em formatdo de variaveis*/
    --title-color: #322153; /*Posso usar essa variavel no documento todo, caso queira mudar a cor dos elementos que possuem ela, pode alterar essa variavel*/
    --primary-color: #34cb79;
}

* { /*Atalho para todos seletores/elementos*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    --webkit-font-smoothing: antiliased;/*A font fica mais amigável*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif; /*Font from google.fonts*/
}


