/*Responsive-Page*/
/*Media conjunto de regras*/

@media (max-width: 900px) { /*Quando a tela for no maximo 900px de largura, tera a seguinte regras: */
    #page-home {
        background-position-x: 70vw; /*A posição anterior estava em 35vw*//*A imagem some, para o conteudo não ficar encavalado*/
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }
    
    #page-home header a {
        position: absolute;
        bottom: 48px;

        /*Alinhamento centralizando elemento*/
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center; /*Centralização*/
    }


    /*Img responsiva da pagina search-results: */
    #page-search-results .cards {
        /*align-items: center; ou a opção abaixo*/
        grid-template-columns: 1fr; /*Uma coluna apenas*/
    }

    /*Tela menores, a imagem terá esse tamanho: */
    #page-search-results .cards img {
        height: 200px;
    }
}

/*Tela com largura de 1700 para cima*/
@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 130px; /*Mudar eixo Y, o Y estavam em buttom, portanto, deixar bottom*/
    }
}